* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', sans-serif;
}



/* FLEXBOX */

.flex {
    display: flex;
}

/* General -----------------------*/

ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}

#burger-menu {
    display: none;
}

.btn {
    background-color: #8B48BF;
    border-radius: 50px;
    color: #FFFFFF;
    height: 44px;
    width: 134px;
    text-align: center;
    font-size: 13.18px;
    line-height: 19.26px;
    padding-top: 12.37px;
}

/* Fin General--------------------- */

/* header --------------------------*/

header {
    align-items: center;
    background-color: #F5F5F5;
    height: 174px;
    justify-content: space-evenly;
}

.top-nav li a{
    color: #242E52;
    font-size: 13px;
    font-weight: 500;
    line-height: 22.89px;
    margin: 0px 14px;
}

.top-nav li a:hover {
    color: rgba(36, 46, 82, 0.6);
}

.shadow-btn {
    box-shadow: 0 4px 7px rgba(0,0,0,0.25);
}

/*  Fin Header ------------------------- */

/* Seccion top  ------------------------- */

.top-section {
    align-items: center;
    background-color: #F5F5F5; 
    height: 643px;
    justify-content: center;    
}
.top-section-text {
    align-items: flex-end;
    flex-direction: column;
    justify-content: center;
    padding-left: 100px;
    width: 550px;
}
.top-section-text h1{
    color: #232C50;
    font-size: 48px;
    line-height: 57px;
    text-align: right;
}

.top-section-text h3 {
    font-size: 16.56px;
    font-weight: 500;
    margin: 28px 0px;
    text-align: right;
}

/* Seccion top fin -------------------- */
/*  Inicio del main */
main {
    flex-direction: column;
}


    /* Mid banner */
.mid-banner {
    align-items: center;
    background-color: #8B48BF;
    color: #FFFFFF;
    height: 168px;
    justify-content: center;
}
.text-box {
    height: 88px;
    margin: 0px 50px;
    width: 450px;
}

 h2.text-box{
    font-size: 36px;
}
p.text-box {
    font-size: 16px;
}

    /* Fin mid banner */
    /* Inicio Features descatadas */

.cards-section-top {
    flex-wrap:wrap;
    justify-content: center;
    height: 428px;
    align-items:center;
    background-color: #FAFAFA;
    
}

.card-feature {
    flex-direction: column;
    height: 151.5px;
    width: 530px;
    margin: 0px 37px;
    

}

.card-banner{
    align-items: center;
}

.card-banner h4 {
    font-size: 16px;
    color: #323851;
    margin-left: 23px;
}

.icon-numbers {
    background-color: #8B48BF;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 23.38px;
    width: 69px;
    height: 43px;
    border-radius: 30px;
    padding-top: 9.81px;
    text-align: center;
    font-weight: 700;
}

.text-feature {
    font-size: 16.3px;
    padding: 10px 0px 10px 92px;
    color: #B3B2B7;
}



    /* Fin features destacadas -----------------------------*/
    /* Best of the month section ---------------------------*/
.best-section {
    flex-direction: column;
    align-items: center;
    height: 755px;
    justify-content: space-evenly;
}

.best-section h2 {
    font-size: 39.21px;
    color: #242E53;
    font-weight: 700;
}

.player {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 220px;
    width: 450px;
    background-color: #FAFAFA;
    position: relative;
    padding: 54px 21px 21px 21px;
    text-align: center;
}

.player h3 {
    color: #3F4868;
    font-size: 16.07;
}
.player p {
    color: #B9B9C1;
    font-size: 16px;
}

.player img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -35px;
}

.btn-hover:hover {
    background-color: rgba(139, 72, 191, 0.7);;
}

    /* Fin best of the month section -----------------------------*/

    /* Go for it section ----------------------------------------*/

.go-section {
    background-color: #8B48BF;
    align-items: center;
    justify-content: space-between;
    height: 224px;
    padding: 0px 210px 0px 165px;

}

.go-section h2 {
    font-size: 40px;
    color: #FFFFFF;
    width: 450px;
}

.btn-go-section {
    background-color: #FFFFFF;
    color: #8B48BF;
}

/* Fin Go for it section ----------------------------------------- */

/* FIN MAIN ---------------------------- */


/* FOOTER ---------------- */
/* left */
footer {
    background-color: #1E1E26;
    justify-content: space-evenly;
    height: 247px;
}

.left-column-footer {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 153px;
    padding: 64px 0px 69.32px 0px;
}

.social-links {
    justify-content: space-between;
    width: 100%;
}

/* center */
.bottom-nav {
    justify-content: space-between;
    width: 394px;
    padding-top: 64px;

}

.bottom-nav-column{
    flex-direction: column;
}
.bottom-nav-column li{
    margin: 6px 0px;
}

.bottom-nav-column li a{
    color: #FFFFFF;
}
/*  fin center  */

/* right column */
.right-column-footer {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    padding: 64px 0px 43.15px 0px;
}
.right-column-footer p {
    font-size: 12.5px;
    color: #8C8C94;
}
.formulario input {
    width: 201px;
    height: 44px;
    border-radius: 50px;
    padding: 10px;
    border: none;
}
.formulario button {
    width: 63px;
    height: 42px;
    background-color: #8B48BF;
    border-radius: 50px;
    border: none;
    color: #FFFFFF;
    font-size: 13.18px;
    cursor: pointer;
}

@media screen and (max-width: 480px)
{
    /* Header */
    header {
        justify-content: space-between;
        padding: 0px 60px;
    }
    .navbar {
        display: none;
    }
    .header-btn{
        display: none;
    }
    #burger-menu {
        display: block;
    }
    /*  fin header */
    /* Seccion top */
    .top-section{
        flex-direction: column;
        height: 870px;
    }
    .top-section img {
        width: 400px;
    }
    .top-section-text {
        width: 400px;
        padding-left: 0px;
    }
    /* fin top section */
    /* mid banner */
    .mid-banner {
        flex-direction: column;
        height: 306px;
        background-color: #3CDDF3;
        justify-content: center;
        padding-right: 30px;
    }
    .text-box {
        margin: 25px 0px;
        width: 91.6%;
    }
    p.text-box {
        visibility: hidden;
    }
    p.text-box::before {
        content: "Manage provides all the functionality your teas needs, without the complexity. Our software is tailor-made for modern digital product teams";
        visibility: visible;
        line-height: 24.18px;
    }
    /*  features */
    .cards-section-top {
        height: 633px;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: flex-start;
        margin-top: 65px;
        background-color: #FFFFFF;
    }
    .card-feature {
        height: 204px;
        width: 100%;
        padding-left: 34px;
        
        
    }
    .text-feature {
        padding:  0px 20px 0px 10px;
        margin: 30px 0px;
    }
    .card-banner {
        background: rgba(139, 72, 191, 0.3);
        border-radius: 50px 0px 0px 50px;
    }
    /* players */
    .best-section {
        height: 574px;
        justify-content: center;
    }
    #Lebron {
        margin: 109px 0px 45px;
    }
    #Sanyo {
        display: none;
    }
    #Navarro {
        display: none;
    }
    /* fin players */
    .go-section {
        flex-direction: column;
        height: 366px;
        background-color: #3CDDF3;
        justify-content: space-between;
        padding: 40px 0px;
    }
    .go-section h2 {
        text-align: center;
        padding: 0px 20px;
        width: 67.5%;
    }
    .btn-go-section {
        background-color: #232C50;
        color: #FFFFFF;
    }
    /* footer */
    footer {
        flex-direction: column-reverse;
        height: 534.72px;
        align-items: center;
        justify-content: flex-end;
    }
    .right-column-footer {
        padding: 0px;
        margin-top: 52.26px;
        position: relative;
    }
    .right-column-footer p {
        position: absolute;
        bottom: -400px;
        width: 100%;
        text-align: center;
    } 
    .bottom-nav {
        width: 100%;
        padding: 0px 78px;
        margin-top: 47px;
    }
    .left-column-footer {
        flex-direction: column-reverse;
        width: 100%;
        height: 92px;
        align-items: center;
        padding: 0px 50px;
        margin-top: 52px;
    }
    .formulario input {
        width: 308px;
    }
}
