* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', sans-serif;
}



/* FLEXBOX */

.flex {
    display: flex;
}

/* General -----------------------*/

ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}

.btn {
    background-color: #8B48BF;
    border: none;
    border-radius: 50px;
    color: #FFFFFF;
    height: 44px;
    width: 134px;
}

/* Fin General--------------------- */

/* header --------------------------*/

header {
    align-items: center;
    height: 174px;
    justify-content: space-around;
    
}

.top-nav li a{
    color: #242E52;
    font-size: 13px;
    font-weight: 500;
    line-height: 22.89px;
    margin: 0px 14px;
}

.top-nav li a:hover {
    color: rgba(36, 46, 82, 0.6);
}

.header-btn {
    box-shadow: 0 4px 7px rgba(0,0,0,0.25);
}

/*  Fin Header ------------------------- */

/* Seccion top  ------------------------- */

.top-section {
    justify-content: center;
    height: 557px;
    align-items: center;
    
}

.top-section-text {
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    width: 550px;
    padding-left: 100px;
}

.top-section-text h1{
    font-size: 48px;
    line-height: 57px;
    text-align: right;
    color: #232C50;
}

.top-section-text h3 {
    font-size: 16.56px;
    text-align: right;
    font-weight: 500;
    margin: 28px 0px;
}

/* Seccion top fin -------------------- */

main {
    flex-direction: column;
}

.mid-banner {
    height: 168px;
    background-color: #8B48BF;
    align-items: center;
    color: #FFFFFF;
    justify-content: center;
}
.text-box {
    width: 450px;
    height: 88px;
    margin: 0px 50px;
}

 h2.text-box{
    font-size: 36px;
}
p.text-box {
    font-size: 16px;
}




