* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', sans-serif;
}



/* FLEXBOX */

.flex {
    display: flex;
}

/* General -----------------------*/

ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}

.btn {
    background-color: #8B48BF;
    border-radius: 50px;
    color: #FFFFFF;
    height: 44px;
    width: 134px;
    text-align: center;
    font-size: 13.18px;
    line-height: 19.26px;
    padding-top: 12.37px;
}

/* Fin General--------------------- */

/* header --------------------------*/

header {
    align-items: center;
    height: 174px;
    justify-content: space-around;
    
}

.top-nav li a{
    color: #242E52;
    font-size: 13px;
    font-weight: 500;
    line-height: 22.89px;
    margin: 0px 14px;
}

.top-nav li a:hover {
    color: rgba(36, 46, 82, 0.6);
}

.header-btn {
    box-shadow: 0 4px 7px rgba(0,0,0,0.25);
}

/*  Fin Header ------------------------- */

/* Seccion top  ------------------------- */

.top-section {
    align-items: center;
    height: 557px;
    justify-content: center;   
}

.top-section-text {
    align-items: flex-end;
    flex-direction: column;
    justify-content: center;
    padding-left: 100px;
    width: 550px;
}

.top-section-text h1{
    color: #232C50;
    font-size: 48px;
    line-height: 57px;
    text-align: right;
}

.top-section-text h3 {
    font-size: 16.56px;
    font-weight: 500;
    margin: 28px 0px;
    text-align: right;
}

/* Seccion top fin -------------------- */
/*  Inicio del main */
main {
    flex-direction: column;
}


    /* Mid banner */
.mid-banner {
    align-items: center;
    background-color: #8B48BF;
    color: #FFFFFF;
    height: 168px;
    justify-content: center;
}
.text-box {
    height: 88px;
    margin: 0px 50px;
    width: 450px;
}

 h2.text-box{
    font-size: 36px;
}
p.text-box {
    font-size: 16px;
}

    /* Fin mid banner */

.cards-section-top {
    flex-wrap:wrap;
    justify-content: center;
    height: 428px;
    align-items:center;
}

.card-feature {
    height: 151.5px;
    width: 530px;
    margin: 0px 37px;
}

.icon-numbers {
    background-color: #8B48BF;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 23.38px;
    width: 69px;
    height: 43px;
    border-radius: 30px;
    padding-top: 9.81px;
    text-align: center;
    font-weight: 700;
}

.text-feature {
    flex-direction: column;
    justify-content: space-between;
    font-size: 16.3px;
    padding: 10px 0px 10px 10px;
    color: #B3B2B7;
}

.text-feature h4 {
    font-size: 16px;
    color: #323851;
}







